body {
background-image: url('background2.png');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}
/*========Page style========*/
.main-layout{
    display:flex;
    gap:30px;
    padding:20px;
    align-items:flex-start;  
}
.left-panel{
    flex:5.5;
    display:flex;
    flex-direction:column;
    gap:15px;
    padding-top: 5px;
}
.right-panel{
    flex:4.5;
    display:flex;
    flex-direction:column;
    gap:15px;
    padding: 5px;
}